############
logs/*.log

############
php_uploads/*
WebContent/uploads/
!php_uploads/index.html

############
php_sessions/*
!php_sessions/index.html

############
*.bak

############
.settings
.project
.buildpath
/nbproject/private/
/nbproject/

WebContent/warn
WebContent/coverage/*
!WebContent/coverage/blank
!WebContent/coverage/logs/logfile.xslt
!WebContent/coverage/logs/template.html

############
database/acl.csv
